<div class="friend-list-wrapper">
  <div class="title">
    <h1>Friends</h1>
  </div>
  <div class="friend-list">
    <div data-simplebar class="h-100">
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          juanchi420
        </span>
        <span *ngIf="isOwner && member.id != user.id" class="hand kick-player" title="Kick player" (click)="kickPlayer(member.id)">x</span>
      </div>
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          arikapo
        </span>
        <span *ngIf="isOwner && member.id != user.id" class="hand kick-player" title="Kick player" (click)="kickPlayer(member.id)">x</span>
      </div>
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          arikapo
        </span>
        <span *ngIf="isOwner && member.id != user.id" class="hand kick-player" title="Kick player" (click)="kickPlayer(member.id)">x</span>
      </div>
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          arikapo
        </span>
        <span *ngIf="isOwner && member.id != user.id" class="hand kick-player" title="Kick player" (click)="kickPlayer(member.id)">x</span>
      </div>
    </div>
  </div>
</div>
