.friend-list-wrapper {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.title{
  text-align: center;
  margin: 0.5rem 0;
}

.title h1{
  margin: unset;
}

.friend-list {
  display: flex;
  flex-direction: column;
}

.friend-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0.3em 0;
  padding: 0.3em;
}

.friend{
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  font-size: 16px;
}

.friend-username{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.user-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  position: relative;
  margin-right: 10px;
  padding: 0.2em 0;
  width: fit-content;
  height: fit-content;
}

.no-friends{
  color: #ffffff9e;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
}

.no-friends span{
  display: block;
}

.friend-status{
  color: #eb5023;
  font-size: 14px;
  bottom: -5px;
  position: absolute;
  right: -1px;
}

.online{
  color: #25da17;
}

.friend-message{
  display: flex;
  flex: 0 0 auto;
  height: fit-content;
  margin: auto 0;
  cursor: pointer;
}
