<div class="friend-list-wrapper">
  <div class="title">
    <h1>Friends</h1>
  </div>
  <div *ngIf="friends.length" class="friend-list">
    <div data-simplebar data-simplebar-auto-hide="false">
      <div *ngFor="let friend of friends" class="friend-wrapper">
        <div class="friend">
          <div class="user-img-wrapper">
            <div>
              <img src="/assets/user/user-default.png" class="user-img">
            </div>
            <div class="friend-status" title="{{friend.status == OnlineStatus.ONLINE ? 'Online' : 'Offline'}}"
                 [ngClass]="{'online': friend.status == OnlineStatus.ONLINE}">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
          </div>
          <span (click)="getUserInfo(friend.id)" class="friend-username">
            {{friend.username}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!friends.length" class="no-friends">
    <span>You don't have any friends</span>
    <i class="fa fa-frown-o fa-5x" ></i>
  </div>
</div>
