<div class="friend-list-wrapper">
  <div class="title">
    <h1>Friends</h1>
  </div>
  <div class="friend-list">
    <div data-simplebar data-simplebar-auto-hide="false">
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          juanchi420
        </span>
      </div>
      <div class="friend">
        <fa name="circle" alt="far"></fa>
        <span class="friend-username">
          arikapo
        </span>
      </div>
    </div>
  </div>
</div>
