.chat-container{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  position: relative;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 -1px 0 rgba(0,0,0,.1);
  border-top: solid 1px #343a40;
  background-color: #18191c;
  width: 100%;
}

.chat-header{
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  height: 35px;
  flex-direction: row;
  background: #27292d;
}

.chat-toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 36px;
  cursor: pointer;
}

.chat-tabs-wrapper{
  display: flex;
  flex: 1 0;
  height: 100%;
  flex-direction: row;
}

.tab{
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 150px;
  padding: 0 0.6em 0 0.6em;
  border-right: #36373a solid 1px;
  cursor: pointer;
}

.tab-active{
  border-bottom: #5ece76 solid 2px;
  box-shadow: 6px 0 10px -4px #000000cc, -6px 0 10px -4px #000000cc;
}

.tab-content{
  display: flex;
  flex-direction: row;
}

.tab-username{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.tab-option{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.tab-option i{
  font-size: 12px;
  margin-right: 0.5rem;
}

.messages-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 0.2em 0.5em 0.2em 0.5em;
  height: 160px;
}

.message{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.message-margin-bottom{
  margin-bottom: 10px;
}

.message-info{
  display: flex;
  flex-direction: row;
  flex: 1 0;
  font-size: 13px;
}

.message-username{
  color: #b5b5b5;
}

.message-time{
  align-self: flex-end;
  color: #787878;
  font-size: 12px;
  margin-left: 0.5em;
}

.message-text{

}

.send-message-wrapper, .send-message-wrapper form{
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  border-top: solid 1px #343a40;
  flex: 0 0 auto;
}

.message-input, .message-input:focus{
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  font: 400 13.3333px Arial;
  border: none;
  color: #ffffff;
  box-shadow: none;
  outline: none;
  padding: 0 0 0 1em;
  background: #484c52 !important;
  border: unset;
}


.btn-send-message{
  font-size: 20px;
  color: white;
  background-color: #73ca85;
  border: none;
  line-height: normal;
  border-radius: 0;
}

.btn-send-message:active,
.btn-send-message.active,
.btn-send-message:active:focus,
.btn-send-message.active:focus {
  background-color: #7ad085;
}

.btn-send-message:focus {
  box-shadow: -0.1rem 0 rgba(8, 17, 27, 0.43);
}

.btn-send-message:hover {
  box-shadow: none;
  background-color: #68b16b;
}

.chat-toggle-icon {
  transition: transform 1s;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin: auto;
  color: #5ece76;
}

.hidden-zone{
  transition: padding, height 1s;
  height: 200px;
}

.no-height{
  transition: padding, height 1s;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rotate-toggle{
  transition: transform 1s;
  transform: rotate(180deg);
}
