<div class="w-100">
    <h1 class="text-center">Filter posts</h1>
    <form #filterForm="ngForm" class="game-form" (ngSubmit)="filterForm.valid && addFilter()" novalidate>
      <div class="form-group">
        <label for="SelectGame">
          <span class="bold">Game</span>
        </label>
        <select class="form-control" id="SelectGame" [(ngModel)]="selectedGameIndex" name="game" required>
          <option *ngFor="let game of games; index as i" [value]="i">{{game.name}}</option>
        </select>
      </div>
      <div *ngIf="selectedGameIndex" class="form-group">
        <label for="SelectActivity">
          <span class="bold">Activity</span>
        </label>
        <select class="form-control" id="SelectActivity" [(ngModel)]="selectedActivityIndex" name="activity" required>
          <option selected [value]="-1">Any</option>
          <option *ngFor="let activity of games[selectedGameIndex].activities; index as j" [value]="j">{{activity.name}}</option>
        </select>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary-lfg submit-button">Add filter</button>
      </div>
    </form>
  {{selectedGameIndex}}
  {{selectedActivityIndex}}
</div>
