<div class="app-mount">
  <div class="nav-bar-wrapper">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="spekbar-user-wrapper">
    <div class="user-info-wrapper">
      <app-me-info></app-me-info>
    </div>
    <div class="spekbar">
      <router-outlet name="spekbar"></router-outlet>
    </div>
  </div>
  <div class="posts-chat-wrapper">
    <div data-simplebar class="h-100">
      <div class="post-flow-wrapper">
        <app-post-flow></app-post-flow>
      </div>
    </div>
    <div class="chat-wrapper">
      <app-chat></app-chat>
    </div>
  </div>
  <div class="friends-wrapper" [ngClass]="{'no-width': !isFriendsOpen}">
    <div class="friends-toggle" (click)="toggleFriendsOpen()">
      <i class="fa fa-angle-right friends-toggle-icon" [ngClass]="{'rotate-toggle': !isFriendsOpen}"></i>
    </div>
    <div class="friends-bar-wrapper">
      <app-friend-bar></app-friend-bar>
    </div>
    <div class="friends">
      <router-outlet name="friends"></router-outlet>
    </div>
  </div>
</div>
