<div class="app-mount">
  <div class="nav-bar">
    <a class="nav-link" (click)="logOut()">Log Out</a>
    <a class="nav-link" [routerLink]="['/admin-panel']">Admin panel</a>
    <a class="nav-link" (click)="navigate('filter-posts')">Filter posts</a>
    <a class="nav-link" (click)="navigate('new-post')">New post</a>
    <a class="nav-link" (click)="navigate('new-group')">New group</a>
  </div>
  <div class="spekbar-user-wrapper">
    <div class="user-info-wrapper">
      {{user.username}}
    </div>
    <div class="spekbar">
      <router-outlet name="spekbar"></router-outlet>
    </div>

  </div>
  <div class="posts-chat-wrapper">
    <div data-simplebar class="h-100">
      <div class="post-flow-wrapper">
        <div *ngFor="let post of posts" class="post-wrapper">
          <div class="post-container">
            <div class="post-user-group">
              Username: {{post.owner.username}}
            </div>
            <div class="post-game-activity-description">
              Game: {{post.activity.game.name}} <br>
              Activity: {{post.activity.name}} <br>
              Description: {{post.description}}
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="chat-wrapper">
      <div class="chat-container">

      </div>
    </div>
  </div>
  <div class="friends-wrapper">

  </div>
</div>
