.app-mount{
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

.nav-bar {
  flex-direction: column;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #18191c;
  contain: layout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 70px;
}

.spekbar-user-wrapper{
  background-color: #282a2d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.spekbar {
  display: flex;
  flex: 1 1 auto;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  flex-wrap: nowrap;
  contain: layout;
  min-height: 0;
  position: relative;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.posts-chat-wrapper{
  background-color: #2f3136;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  position: relative;
  min-width: 1px;
  flex: 1;
  overflow: hidden;
}

.post-flow-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 0;
  -webkit-box-flex: 1;
  flex: 1;
  position: relative;
}

.chat-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 200px;
  padding: 0 3rem;
}

.chat-container{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  box-shadow: 0 -1px 0 rgba(0,0,0,.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  border-top: solid 1px #343a40;
  height: 100%;
  width: 100%;
}

.friends-wrapper{
  background-color: #282a2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 240px;
  position: relative;
}

.user-info{
  color: #fff;
  background: #202225;
  display: flex;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  margin-bottom: 1px;
  padding: 0 10px;
}

