.post-flow-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 0;
  -webkit-box-flex: 1;
  flex: 1;
  position: relative;
  padding: 10px 1rem 0 1rem;
}

.app-mount{
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

.nav-bar-wrapper {
  flex-direction: column;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #212225;
  contain: layout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 60px;
  text-align: center;
}

.spekbar-user-wrapper{
  background-color: #303238;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 280px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.spekbar {
  padding: 0 7px;
  display: flex;
  flex: 1 1 auto;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  flex-wrap: nowrap;
  contain: layout;
  min-height: 0;
  width: 280px;
  position: relative;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.posts-chat-wrapper{
  background-color: #35383e;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  position: relative;
  min-width: 1px;
  flex: 1;
  overflow: hidden;
}

.chat-wrapper{
  background-color: #202225;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.friends-wrapper{
  background-color: #303238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 240px;
  position: relative;
}

.friends-bar-wrapper{
  color: #fff;
  background: #27292d;
  display: flex;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  margin-bottom: 1px;
}

.user-info-wrapper{
  color: #fff;
  background: #27292d;
  display: flex;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  margin-bottom: 1px;
  padding: 0 10px;
}

.friends{
  padding: 0 7px;
  display: flex;
  flex: 1 1 auto;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  flex-wrap: nowrap;
  contain: layout;
  min-height: 0;
  position: relative;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
