/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import "~simplebar/dist/simplebar.css";
/*div{
  background: pink;
  border: 1px solid red;
}
*/


html{
  height: 100%;
  min-height: 100%;
  display: block;
}

body{
  height: 100%;
  background: #18191c;
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1{
  font-size: 18px;
  font-weight: 700;
}

h2{
  font-size: 18px;
  font-weight: 700;
}

input, textarea, select, button{
  font: 400 13.3333px Arial;
}

.form-group{
  font-size: 13.3333px;
  line-height: normal;
}

@-webkit-keyframes autofill {
  to {
    color: #ffffff;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.form-input, .form-input:focus{
  font: 400 13.3333px Arial;
  background: transparent !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #f0f0f0;
  border-bottom-color: hsla(0,0%,100%,.1);
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.form-input:focus{
  border-bottom-color: hsla(0,0%,100%,1);;
}

.form-text, .form-text:focus{
  font: 400 13.3333px Arial;
  background: transparent !important;
  border-radius: 0;
  border: 1px solid hsla(0, 0%, 100%, .1);
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.form-text:focus{
  border-color: hsla(0,0%,100%,.5);
}

.form-select, .form-select:focus{
  font: 400 13.3333px Arial;
  background: transparent !important;
  border-radius: 0;
  border: 1px solid hsla(0, 0%, 100%, .1);
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.form-select:focus{
  border-color: hsla(0,0%,100%,.5);
}

.form-option{
  background-color: #282a2d !important;
  color: #ffffff;
}

app-root{
  height: 100%;
  min-height: 100%;
  display: block;
}

app-userinterface, app-user-navigation{
  height: 100%;
  min-height: 100%;
  display: block;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin{
  margin: 0;
}

.btn-primary-lfg{
  color: white;
  background-color: rgba(114,137,218,.85);

  border: none;
  box-shadow: none;
}

.btn-primary-lfg:active,
.btn-primary-lfg.active,
.btn-primary-lfg:active:focus,
.btn-primary-lfg.active:focus {

  background-color: rgba(145,162,255,.85);
}

.btn-primary-lfg:focus {
  box-shadow: 0 0 0 0.1rem rgba(8, 17, 27, 0.43);

}

.btn-primary-lfg:hover {
  box-shadow: none;
  background-color: rgba(93,107,185,.85);
}

