/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
/*div{
  background: pink;
  border: 1px solid red;
}
*/


html{
  height: 100%;
  min-height: 100%;
  display: block;
}

body{
  height: 100%;
  background: #18191c;
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}

.auth-background{
  background: url('/assets/backgrounds/sign-in.jpg') 50%;
  z-index: -1;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h1{
  font-size: 18px;
  font-weight: 700;
}

.auth-form label{
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.auth-form-container{
  margin-top: 2rem;
  padding-top: 1.5rem;
  background: rgba(40,43,48,.75)
}

app-root{
  height: 100%;
  min-height: 100%;
  display: block;
}

app-userinterface, app-user-navigation{
  height: 100%;
  min-height: 100%;
  display: block;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin{
  margin: 0;
}

.btn-primary-lfg{
  color: white;
  background-color: #7289da;
  border: none;
  box-shadow: none;
}

.btn-primary-lfg:focus {
  box-shadow: none;
}

.btn-primary-lfg:active,
.btn-primary-lfg.active,
.btn-primary-lfg:active:focus,
.btn-primary-lfg.active:focus{
  background-color: #91a2ff;
}

.btn-primary-lfg:hover {
  background-color: #5d6bb9;
}

