  <div class="title">
    <h1>Group</h1>
  </div>
  <div class="game-activity">{{group.activity.game.name + ': ' + group.activity.name}}</div>

  <h2 class="group-subtitle">Members</h2>
  <label class="member-count">{{group.members.length}}/{{group.slots}}</label>
  <div class="members-wrapper">
    <div *ngFor="let member of group.members" class="member">
      <span class="member-username">
        <fa name="circle" alt="far"></fa>
        {{member.username}}
      </span>
    </div>
  </div>

  <form *ngIf="isOwner" #postForm="ngForm" class="post-group-form" (ngSubmit)="postForm.valid && postGroup()" novalidate>
    <h2 class="group-subtitle">Post group</h2>
    <div class="form-group">
      <textarea name="TextAreaDescription" placeholder="Description" [(ngModel)]="post.description"
                id="TextAreaDescription" class="form-control form-text description-post"
                aria-describedby="descriptionHelp">
      </textarea>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary-lfg submit-button">Post</button>
    </div>
  </form>

  <button type="button" class="btn btn-primary btn-primary-lfg" (click)="leaveGroup()">Leave group</button>



