<div class="group-wrapper" *ngIf="group !== null">
  <div class="title">
    <h1>Group</h1>
  </div>
  <div class="game-activity">{{group.activity.game.name + ': ' + group.activity.name}}</div>

  <h2 class="group-subtitle">Members</h2>
  <label class="member-count">{{group.members.length}}/{{group.slots}}</label>
  <div class="members-wrapper">
    <div *ngFor="let member of group.members" class="member">
      <fa name="circle" alt="far"></fa>
      <span class="member-username">
        {{member.username}}
      </span>
      <span *ngIf="isOwner && member.id != user.id" class="hand kick-player" title="Kick player" (click)="kickPlayer(member.id)">x</span>
    </div>
  </div>

  <form *ngIf="isOwner && post != null" #postForm="ngForm" class="post-group-form" (ngSubmit)="postForm.valid && postGroup()" novalidate>
    <h2 class="group-subtitle">Post group</h2>
    <div class="form-group">
      <textarea name="TextAreaDescription" placeholder="Description" [(ngModel)]="post.description"
                id="TextAreaDescription" class="form-control form-text description-post"
                aria-describedby="descriptionHelp">
      </textarea>
    </div>
    <div class="form-group text-center">
      <button *ngIf="post == null" type="submit" class="btn btn-primary-lfg btn-submit">Post</button>
    </div>
    <div class="form-group text-center">
      <button *ngIf="post != null" type="button" (click)="deletePost()" class="btn btn-primary-lfg btn-submit">Delete post</button>
      <button *ngIf="post != null" type="submit" class="btn btn-primary-lfg btn-submit">Repost</button>
    </div>
  </form>

  <button type="button" class="btn btn-primary btn-primary-lfg btn-group-leave" (click)="leaveGroup()">Leave group</button>

</div>
