h1{
  text-align: center;
}

h2{
  margin: 0;
}

.group-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding-bottom: 5px;
}

.game-activity {
  display: block;
  margin-bottom: 1rem;
}

.group-subtitle-wrapper{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin-bottom: 0.2rem;
}

.group-subtitle {
  display: flex;
  flex: 0 0 auto;
}

.member-count {
  display: flex;
  flex: 0 0 auto;
  margin: 0 0 0 0.5rem;
}

.members-wrapper {
  display: flex;
  flex-direction: column;
}

.member{
  display: flex;
  flex-direction: row;
  margin: 0.3em 0;
  padding-left: 0.2rem;
  flex: 1 0 auto;
  /*
  border-bottom: solid 1px #ffffff1a;
  */
}

.member-username{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
}

.user-img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  width: fit-content;
  height: fit-content;
}

.kick-player{
  display: flex;
  flex: 0 0 auto;
  font-weight: 600;
  color: #da2121;
}

.post-group-form{
  margin-top: 3rem;
}

.description-post {
  resize: none;
  height: 50px;
}

.btn-group-leave{
  margin-top: auto;
}

