h1{
  text-align: center;
}

h2{
  margin: 0;
}

.group-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 0 5px 5px 5px;
}

.game-activity {
  margin-bottom: 0.2rem;
}

.group-info {
  display: block;
  margin-bottom: 1rem;
}

.group-subtitle-wrapper{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin-bottom: 0.4rem;
}

.group-subtitle {
  display: flex;
  flex: 0 0 auto;
}

.member-count {
  display: flex;
  flex: 0 0 auto;
  margin: 0 0 0 0.5rem;
}

.members-wrapper {
  display: flex;
  flex-direction: column;
}

.member{
  display: flex;
  flex-direction: row;
  margin: 0.3em 0;
  padding: 0 0.2rem;
  flex: 1 0 auto;
  /*
  border-bottom: solid 1px #ffffff1a;
  */
}

.member-username{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.user-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
}

.member-option{
  display: flex;
  flex: 0 0 auto;
  font-weight: 600;
  height: fit-content;
  margin: auto;
}

.kick-player{
  color: #da2121;
}


.promote-leader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  color: #51da43;
  margin-right: 0.5rem;
}

.leader{
  color: #fff900;
}

.post-group-form{
  margin-top: 3rem;
}

.description-post {
  resize: none;
  height: 50px;
}

.btn-group-leave{
  margin-top: auto;
  margin-bottom: 10px;
  min-height: 36px;
}

.post-info{
  border-top: solid 1px #ffffff1a;
  border-bottom: solid 1px #ffffff1a;
  padding: 0.3em 0.3em;
}

.post-info-wrapper{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.inactive{
  color: #ffffff9e;
}

.hidden-zone{
  transition: max-height 1s;
  display: flex;
  flex-direction: column;
  flex: auto;
  max-height: 500px;
}

.post-height{
  max-height: 0;
}

.post-info{
  display: flex;
  flex-direction: column;
}

.post-group{
  display: flex;
  margin-bottom: 0.2rem;
}

.platform-img{
  height: 20px;
  width: auto;
}

.post-inactive{
  flex-direction: row;
  justify-content: center;
}

.post-info-margin-top {
  margin-top: 1rem;
}

.postError {
  transition: height 0.5s;
  margin-top: 6px;
  font-size: 15px;
  font-weight: 600;
  color: red;
  display: block;
  overflow: hidden;
  height: 17px;
}

.postErrorHide {
  height: 0;
}
