<nav class="navbar navbar-dark navbar-fixed-top navbar-expand-lg">

  <a class="navbar-brand" [routerLink]="['/home']" (click)="navbarCollapsed = true">LFG</a>

  <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
          aria-label="Toggle navigation"
          [ngClass]="{'hamburger-open':!navbarCollapsed}">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['sign-in']" (click)="navbarCollapsed = true">
          Sign In <fa name="user" name="user" alt="user-plus">
        </fa></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['sign-up']"(click)="navbarCollapsed = true">
          Sign Up <fa name="user" name="user-plus" alt="user-plus">
        </fa></a>
      </li>
      <li class="nav-item d-lg-none" *ngFor="let component of components" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/', component.toLowerCase()]" (click)="navbarCollapsed = true">{{ component }}</a>
      </li>
    </ul>
  </div>
</nav>
