<div class="auth-background"></div>
<div class="container">
  <div class="row">
    <div class="auth-form-container col-10 offset-1 col-lg-4 offset-lg-4 col-md-6 offset-md-3 border round-border border-dark">
      <h1 class="text-center">Sign up</h1>

      <form #logInForm="ngForm" class="auth-form" (ngSubmit)="checkErrors(username.valid, email.valid, password.valid); logInForm.valid && signUpUser()" novalidate>

        <div class="form-group">
          <label for="InputUsername" [ngClass]="{'error':!usernameValid}">Username
            <span *ngIf="!usernameValid && email.pristine" class="error">(field required)</span>
            <span *ngIf="!usernameValid && !email.pristine" class="error">(username is taken!)</span>
          </label>
          <input name="InputUsername" [(ngModel)]="signUpInfo.username" id="InputUsername" class="form-control form-input" aria-describedby="usernameHelp" placeholder="Username" required #username="ngModel">
        </div>

        <div class="form-group" [ngClass]="{'error':!emailValid}">
          <label for="InputEmail">Email address
            <span *ngIf="!emailValid && email.pristine" class="error">(field required)</span>
            <span *ngIf="!emailValid && !email.pristine" class="error">(not a valid email address)</span>
          </label>
          <input name="InputEmail" [(ngModel)]="signUpInfo.email" type="email" id="InputEmail" class="form-control form-input" aria-describedby="emailHelp" placeholder="Email" email required #email="ngModel">

        </div>
        <div class="form-group" [ngClass]="{'error':!passwordValid}">
          <label for="InputPassword">Password
            <span *ngIf="!passwordValid" class="error">(field required)</span>
          </label>
          <input name="InputPassword" [(ngModel)]="signUpInfo.password" type="password" id="InputPassword" class="form-control form-input" placeholder="Password" required #password="ngModel">
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary-lfg submit-button">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
