<div *ngIf="user != null" class="user-info-wrapper">
  <span *ngIf="isAlreadyFriend" class="friend-icon" title="You are friends with {{user.username}}">
    <i class="fas fa-user-check"></i>
  </span>
  <div class="title">
    <div class="user-img-wrapper">
      <img src="/assets/user/user-default.png" class="user-img">
    </div>
    <h1>{{user.username}}</h1>
  </div>
  <div class="options">
    <button type="button" class="btn btn-primary-lfg" (click)="newChat()">
      <i class="fa fa-envelope-o"></i>
    </button>
    <button *ngIf="!isAlreadyFriend && !isRequestSent && !isRequestReceived" type="button"
            class="btn btn-primary-lfg" (click)="sendFriendRequest()">
      Send friend request
    </button>
    <button *ngIf="isAlreadyFriend" type="button" class="btn btn-primary-lfg" (click)="removeFriend()">
      Remove friend
    </button>
    <button *ngIf="isRequestSent" type="button" class="btn btn-primary-lfg" (click)="cancelRequest()">
      Cancel friend request
    </button>
    <button *ngIf="isRequestReceived" type="button" class="btn btn-primary-lfg" (click)="acceptRequest()">
      Accept friend request
    </button>
    <button *ngIf="isRequestReceived" type="button" class="btn btn-primary-lfg" (click)="deleteRequest()">
      Remove friend request
    </button>
  </div>
</div>
