.btn-primary-lfg{
  background-color: #a74724;
}

.btn-primary-lfg:active,
.btn-primary-lfg.active,
.btn-primary-lfg:active:focus,
.btn-primary-lfg.active:focus {
  background-color: #a74e1e;
}

.btn-primary-lfg:hover {
  background-color: #a7593f;
}

.username-wrapper h1 {
  font-weight: 600;
  font-size: 22px;
}

.friend-icon{
  position: absolute;
  right: 15px;
  color: #51da43;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary-lfg{
  margin: 0.5em;
}

.user-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: center;
}

.username-img-wrapper{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 1.5rem 0;
}

.username-wrapper{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: center;
  margin-top: 0.5rem;
}
