.btn-primary-lfg{
  background-color: #a74724;
}

.title{
  display: flex;
  flex-direction: row;
  flex: 1 0;
  text-align: center;
  margin: 0.5rem 0;
}

.title h1{
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friend-icon{
  position: absolute;
  right: 15px;
  color: #51da43;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary-lfg{
  margin: 0.5em;
}

.user-img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  width: fit-content;
  height: fit-content;
}
