.friend-list-wrapper {
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  margin: 0.5rem 0;
}

.title h1{
  margin: unset;
}

.subtitle{
  display: flex;
  flex-direction: row;
  flex:1 0;
  color: #ffffff9e;
  font-weight: 600;
}

.subtitle h2{
  margin: 0;
}

hr{
  border: 0;
  height: 1px;
  background: #ffffff9e;
  flex: 1 0;
  margin: auto 0.5em;
}

.friend-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.friend-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0.3em 0;
  padding: 0.3em;
}

.friend{
  display: flex;
  flex-direction: row;
  margin: 0.3em 0;
  padding-left: 0.2rem;
}

.friend-username{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.accept-request, .delete-request{
  display: flex;
  flex: 0 0 auto;
}

.accept-request{
  color: #51da43;
  margin: auto 0.3em auto 0;
}

.delete-request{
  font-weight: 600;
  height: fit-content;
  margin: auto;
  color: #da2121;
}

.user-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b9b9bb;
}

.user-img-wrapper{
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
}
