h2{
  transition: color 1s;
  margin-bottom: 0.3em;
}

.description-post {
  resize: none;
  height: 60px;
}

.btn-post{
  width: 120px;
}

.post-info{
  border-top: solid 1px #ffffff1a;
  border-bottom: solid 1px #ffffff1a;
  padding: 0.3em 0.3em;
}

.post-info-wrapper{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.inactive{
  color: #ffffff9e;
}

.hidden-zone{
  transition: max-height 1s;
  display: flex;
  flex-direction: column;
  flex: auto;
  max-height: 500px;
}

.post-height{
  max-height: 0;
}

.post-info{
  display: flex;
  flex-direction: column;
}

.post-group{
  display: flex;
  margin-bottom: 0.2rem;
}

.post-inactive{
  flex-direction: row;
  justify-content: center;
}

.platform-img{
  height: 20px;
  width: auto;
}

.postError {
  transition: height 0.5s;
  margin-top: 6px;
  font-size: 15px;
  font-weight: 600;
  color: red;
  display: block;
  overflow: hidden;
  height: 17px;
}

.postErrorHide {
  height: 0;
}
