<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Activities</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let game of games$ | async">
    <td>{{game.id}}</td>
    <td>{{game.name}}</td>
    <td>
      <ul>
        <li *ngFor="let activity of game.activities">
          Id: {{activity.id}}
          Name: {{activity.name}}
        </li>
      </ul>
    </td>
    <td>
      <a class="" [routerLink]="['../edit-game', game.id]">
        Edit
      </a>
    </td>
  </tr>
</table>

<a class="" [routerLink]="['../new-game']">
  New Game
</a>
