<div class="game-list">
  <a class="" [routerLink]="['../new-game']">
    New Game
  </a>
  <div data-simplebar class="h-100">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Activities</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let game of games">
      <td>{{game.id}}</td>
      <td>{{game.name}}</td>
      <td>
        <ul>
          <li *ngFor="let activity of game.activities">
            Id: {{activity.id}}
            Name: {{activity.name}}
          </li>
        </ul>
      </td>
      <td>
        <div class="image-upload-wrapper">
          <div [ngClass]="{'hide': imgState}">
            <image-upload
              [max]="1"
              [class]="'image-upload'"
              [buttonCaption]="'Select image'"
              dropBoxMessage="Drop image here"
              [clearButtonCaption]="'Clear'"
              (removed)="onImgRemoved($event)"
              (uploadFinished)="onImgUploadFinished($event)"
            ></image-upload>
          </div>
          <div class="upload-wrapper">
            <button [disabled]="!imgState" (click)="onImgUpload(game.id)" class="btn btn-primary-lfg btn-upload">Upload</button>
          </div>
        </div>
      </td>
      <td>
        <a class="" [routerLink]="['../edit-game', game.id]">
          Edit
        </a>
      </td>
      <td>
        <a class="hand" (click)="deleteGame(game.id)">
          Delete
        </a>
      </td>
    </tr>
  </table>
  </div>
</div>

