<div class="container">
  <div class="row">
    <div class="game-form-container col-10 offset-1 col-lg-4 offset-lg-4 col-md-6 offset-md-3 border round-border border-dark">
      <h1 class="text-center">New game</h1>
      <form #signInForm="ngForm" class="game-form" (ngSubmit)="signInForm.valid && newGame()" novalidate>
        <div class="form-group">
          <label for="InputName">
            <span class="bold" >Name</span>
          </label>
          <input name="InputName" [(ngModel)]="game.name" id="InputName" class="form-control form-input"
                 aria-describedby="emailHelp" required>
        </div>
        Activities:
        <div *ngFor="let activity of game.activities; index as i">
          <label for="InputActivity{{i}}">
            <span class="bold" >Name</span>
          </label>
          <input name="InputActivity{{i}}" [(ngModel)]="activity.name" id="InputActivity{{i}}" class="form-control form-input"
                 aria-describedby="emailHelp" required>
          <button class="button" (click)="removeActivity(i)">Remove</button>
        </div>
        <div class="form-group text-center">
          <button type="button" (click)="addActivity()" class="btn btn-primary-lfg submit-button">Add activity</button>
          <button type="submit" class="btn btn-primary-lfg submit-button">Accept</button>
        </div>
      </form>
    </div>
  </div>
</div>
