<div class="filter-wrapper">
  <div class="title">
    <h1>Filter Posts</h1>
  </div>
  <form #filterForm="ngForm" class="game-form" (ngSubmit)="filterForm.valid && addFilter()" novalidate>
    <div class="form-group">
      <label for="SelectGame">
        <span class="bold">Game</span>
      </label>
      <select (change)="gameChanged($event)" class="form-control form-select" id="SelectGame" [(ngModel)]="selectedGameIndex" name="game" required>
        <option class="form-option" *ngFor="let game of games; index as i" [value]="i">{{game.name}}</option>
      </select>
    </div>
    <div *ngIf="selectedGameIndex >= 0" class="form-group">
      <label for="SelectActivity">
        <span class="bold">Activity</span>
      </label>
      <select class="form-control form-select" id="SelectActivity" [(ngModel)]="selectedActivityIndex" name="activity" required>
        <option class="form-option" [value]="-1">Any</option>
        <option class="form-option" *ngFor="let activity of games[selectedGameIndex].activities; index as j" [value]="j">{{activity.name}}</option>
      </select>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary-lfg btn-submit">Add filter</button>
    </div>
    <div class="form-group text-center">
      <button type="button" class="btn btn-primary-lfg" (click)="resetFilters()">Reset all filters</button>
    </div>
  </form>

  <div *ngIf="activeFilters.length" data-simplebar class="filterList">
    <h2>Active filters</h2>
    <table>
      <tr>
        <th>Game</th>
        <th>Activity</th>
        <th></th>
      </tr>
      <tr *ngFor="let filter of activeFilters">
        <td>{{filter.gameName}}</td>
        <td>{{filter.activityName || 'Any'}}</td>
        <td class="hand" (click)="removeFilter(filter)">X</td>
      </tr>
    </table>
  </div>
</div>
