<div data-simplebar class="filter-wrapper">
  <div class="title">
    <h1>Filter Posts</h1>
  </div>
  <form #filterForm="ngForm" class="game-form" (ngSubmit)="filterForm.valid && addFilter()" novalidate>
    <div class="form-group">
      <label for="SelectGamePlatform">
        <span class="bold">Platform</span>
      </label>
      <select class="form-control form-select" id="SelectGamePlatform" [(ngModel)]="selectedGamePlatformIndex" name="gamePlatform" required>
        <option class="form-option" [ngValue]="-1">Any</option>
        <option class="form-option" *ngFor="let platform of gamePlatforms; index as j" [ngValue]="j">{{platform.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="SelectGame">
        <span class="bold">Game</span>
      </label>
      <select (change)="gameChanged($event)" class="form-control form-select" id="SelectGame" [(ngModel)]="selectedGameIndex" name="game" required>
        <option class="form-option" *ngFor="let game of games; index as i" [value]="i">{{game.name}}</option>
      </select>
    </div>
    <div *ngIf="selectedGameIndex >= 0" class="form-group">
      <label for="SelectActivity">
        <span class="bold">Activity</span>
      </label>
      <select class="form-control form-select" id="SelectActivity" [(ngModel)]="selectedActivityIndex" name="activity" required>
        <option class="form-option" [value]="-1">Any</option>
        <option class="form-option" *ngFor="let activity of games[selectedGameIndex].activities; index as j" [value]="j">{{activity.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="SelectChatPlatform">
        <span class="bold">Voice chat</span>
      </label>
      <select class="form-control form-select" id="SelectChatPlatform" [(ngModel)]="selectedChatPlatformIndex" name="chatPlatform" required>
        <option class="form-option" [ngValue]="-1">Any</option>
        <option class="form-option" *ngFor="let platform of chatPlatforms; index as j" [ngValue]="j">{{platform.name}}</option>
      </select>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary-lfg btn-submit">Add filter</button>
    </div>
    <div class="form-group text-center">
      <button type="button" class="btn btn-primary-lfg" (click)="resetFilters()">Reset all filters</button>
    </div>
  </form>

  <!--<div *ngIf="activeFilters.length" class="filterList">
    <h2>Active filters</h2>
    <table>
      <tr class="filter-th">
        <th>Game</th>
        <th>Activity</th>
        <th>Platform</th>
        <th>Chat</th>
        <th></th>
      </tr>
      <tr *ngFor="let filter of activeFilters" class="filter-td">
        <td>{{filter.game.name}}</td>
        <td>{{filter.activity != null ? filter.activity.name : 'Any'}}</td>
        <td>{{filter.gamePlatform != null ? filter.gamePlatform.name : 'Any'}}</td>
        <td>{{filter.chatPlatform != null ? filter.chatPlatform.name : 'Any'}}</td>
        <td class="hand" (click)="removeFilter(filter)">X</td>
      </tr>
    </table>
  </div>
  -->
  <div *ngIf="activeFilters.length" class="filter-list-wrapper">
    <h2>Active filters</h2>
    <div class="filter-list">
      <div *ngFor="let filter of activeFilters" class="filter-card-wrapper">
        <div class="delete-filter" (click)="removeFilter(filter)"><label>X</label></div>
        <div class="filter-card">
          <span>{{filter.game.name}}</span>
          <hr>
          <span>{{filter.activity != null ? filter.activity.name : 'Any activity'}}</span>
          <hr>
          <span>{{filter.gamePlatform != null ? filter.gamePlatform.name : 'Any platform'}}</span>
          <hr>
          <span>{{filter.chatPlatform != null ? filter.chatPlatform.name : 'Any chat'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
