<div class="w-100">
  <h1>Group</h1>

  <div class="game-activity">{{group.activity.game.name + ', ' + group.activity.name}}</div>

  <h2 class="members-title">Members</h2>
  <label class="member-count">{{group.members.length}}/{{group.slots}}</label>
  <div class="members-wrapper">
    <div *ngFor="let member of group.members" class="member">
      <span class="member-username">
        <fa name="circle" alt="far"></fa>
        {{member.username}}
      </span>
    </div>
  </div>

  <form #postForm="ngForm" class="game-form" (ngSubmit)="postForm.valid && postGroup()" novalidate>
    <div class="form-group">
      <label for="TextAreaDescription">
        <span class="bold">Description</span>
      </label>
      <textarea name="TextAreaDescription" placeholder="Description" [(ngModel)]="post.description"
                id="TextAreaDescription" class="form-control form-text description-post" aria-describedby="descriptionHelp"></textarea>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary-lfg submit-button">Post</button>
    </div>
  </form>
</div>

