<a class="hand" (click)="updatePosts()">
  <i class="fa fa-retweet"></i>
</a>

<div *ngFor="let post of posts" class="post-wrapper">
  <div class="post-container">
    <div class="post-info-wrapper">
      <div class="post-info-left">
        <div *ngIf="user != null" class="post-info-left-top">
          <div class="post-user">
            <span *ngIf=" post.owner.id != user.id" class="username-wrapper"
                  (click)="getUserInfo(post.owner.id)">{{post.owner.username}}</span>
            <span *ngIf="post.owner.id == user.id">{{post.owner.username}}</span>
          </div>
          <div *ngIf="post.owner.id != user.id" class="send-message-icon" (click)="newChat(post.owner.id)">
            <i class="fa fa-envelope-o"></i>
          </div>
        </div>
      </div>

      <div class="post-info-right">
        <span class="group-type">{{post.group !== null ? 'LFM' : 'LFG'}}</span>
        <div *ngIf="post.group !== null" class="group-info-wrapper">
          <div class="group-data">
            <span>{{post.group.members.length}}/{{post.group.slots}}</span>
          </div>
          <!--<span>{{post.group.id}}</span>-->
          <div class="group-data">
            <span *ngIf="!inGroup" class="join-group" (click)="joinGroup(post.group.id)">
              join
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="post-game-activity-description">
      <div class="game-activity-title">
        <div class="game-name"><span>{{post.activity.game.name}}</span></div>
        <div class="activity-name"><span>{{post.activity.name}}</span></div>
        <div class="post-time"><span>{{post.date | timeAgo}}</span></div>
      </div>
      <div class="post-description-options">
        <div class="post-description"><p>{{post.description}}</p></div>
        <div class="post-options"></div>
      </div>
    </div>
  </div>
</div>
