.post-flow-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 0;
  -webkit-box-flex: 1;
  flex: 1;
  position: relative;
  padding: 10px 1rem 0 1rem;
}

.post-wrapper{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  padding: 8px 0;
}

.post-container{
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  border-top: solid 1px #343a40;
  border-bottom: solid 1px #343a40;
  height: 150px;
  width: 100%;
}

.post-user-group{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-right: solid 1px #343a40;
  box-shadow: 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 0 rgba(0,0,0,.1);
}

.post-game-activity-description{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}
