<button type="button" (click)="updatePosts()">Refresh</button>

<div *ngFor="let post of posts" class="post-wrapper">
  <div class="post-container">
    <div class="post-user-group">
      <div class="post-user">
        Username: {{post.owner.username}}
      </div>
      <div *ngIf="post.group !== null">
        Group: {{post.group.id}}
        <button type="button" (click)="joinGroup(post.group.id)">join</button>
      </div>
    </div>
    <div class="post-game-activity-description">
      Game: {{post.activity.game.name}} <br>
      Activity: {{post.activity.name}} <br>
      Description: {{post.description}}
    </div>
  </div>
</div>
