.post-wrapper{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  padding: 8px 0;
}

.post-container{
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  background: #565d69;
  border-top: solid 1px #40474c;
  border-bottom: solid 1px #40474c;
  height: 120px;
  width: 100%;
}

.post-info-wrapper{
  display: flex;
  flex-direction: row;
  flex: 2 0;
  border-right: solid 1px #343a40;
  box-shadow: 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 0 rgba(0,0,0,.1);
}

.post-game-activity-description{
  display: flex;
  flex-direction: column;
  flex: 5 0;
}

.post-info-left{
  display: flex;
  flex: 3 0;
  flex-direction: column;
  padding: 0.3rem 0 0 0.2rem;
}

.post-user{
  font-weight: 600;
  display: flex;
  flex: 0 0 auto;
}

.post-looking-info{
  display: flex;
  flex: 2 0;
  flex-direction: column;
}

