<button type="button" (click)="updatePosts()">Refresh</button>

<div *ngFor="let post of posts" class="post-wrapper">
  <div class="post-container">
    <div class="post-info-wrapper">
      <div class="post-info-left">
        <div class="post-user">
          {{post.owner.username}}
        </div>
      </div>

      <div class="post-info-right">
        <span class="group-type">{{post.group !== null ? 'LFM' : 'LFG'}}</span>
        <div *ngIf="post.group !== null">
          <div class="group-slots">
            <span>{{post.group.members.length}}/{{post.group.slots}}</span>
          </div>
          <!--<span>{{post.group.id}}</span>-->

          <button *ngIf="!inGroup" type="button" class="btn btn-primary-lfg" (click)="joinGroup(post.group.id)">join</button>
        </div>
      </div>
    </div>
    <div class="post-game-activity-description">
      <div class="game-activity-title">
        <div class="game-name"><span>{{post.activity.game.name}}</span></div>
        <div class="activity-name"><span>{{post.activity.name}}</span></div>
      </div>
      <div class="post-description-options">
        <div class="post-description"><p>{{post.description}}</p></div>
        <div class="post-options"></div>
      </div>
    </div>
  </div>
</div>
