<div class="nav-bar-wrapper">
  <a class="hand" (click)="logOut()">Log Out
    <fa name="sign-out" rotate="horizontal"></fa>
  </a>
  <a class="hand" [routerLink]="['/admin-panel']">Admin panel</a>
  <a class="hand" (click)="navigate('filter-posts')">Filter posts</a>
  <a *ngIf="!inGroup" class="hand" (click)="navigate('new-post')">New post</a>
  <a *ngIf="!inGroup" class="hand" (click)="navigate('new-group')">New group</a>
  <a *ngIf="inGroup" class="hand" (click)="navigate('group')">Group</a>
</div>

