<div data-simplebar>
<div class="search-wrapper">
  <div class="title">
    <h1>Add a friend</h1>
  </div>
  <div class="search-input-wrapper">
    <label for="InputSearch">
      <span class="subtitle">Search Friends</span>
    </label>
    <input name="InputSearch" [(ngModel)]="searchInput" id="InputSearch" class="form-control form-input"
           (input)="onSearchChanged($event)" placeholder="Search" #search="ngModel">
  </div>
  <div class="result-wrapper">
      <div class="friends-wrapper">
        <div *ngIf="results.length == 0" class="no-found">
          <span>
            No user found
          </span>
        </div>
        <div *ngFor="let result of results"  class="friend-wrapper">
          <div class="friend">
            <div class="user-img-wrapper">
              <img *ngIf="result.user.image != null" [src]="result.user.image" class="user-img">
              <img *ngIf="result.user.image == null" src="/assets/user/user-default.png" class="user-img">
            </div>
            <span (click)="getUserInfo(result.user.id)" class="friend-username">
              {{result.user.username}}
            </span>
            <span *ngIf="!result.isFriend" class="hand send-request" title="Add friend" (click)="sendFriendRequest(result.user.id)">Add</span>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
