h1{
  text-transform: uppercase;
  font-size: 18px;
}

.round-border{
  border-radius: 0.20rem;
}

.btn-submit{
  width: 100%;
}

.auth-background{
  background: url(/assets/backgrounds/sign-in.png) 50%;
  z-index: -1;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.auth-form label{
  font-size: 11px;
  text-transform: uppercase;
}

.auth-form-container{
   margin-top: 15vh;
   padding-top: 1.5rem;
   background: rgba(40,43,48,.75);
}

.error{
  color: red;
}

.bold{
  font-weight: 700;
}
